.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #6c63ff, #3f3d56);
    font-family: Arial, sans-serif;
}

.login-card {
    background: white;
    padding: 2rem;
    border-radius: 12px;
    width: 350px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-card h2 {
    margin-bottom: 1.5rem;
    color: #333;
}

.login-card label {
    display: block;
    text-align: left;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
    font-weight: bold;
}

.login-card input {
    width: 100%;
    padding: 0.5rem;
    border-radius: 6px;
    border: 1px solid #ccc;
}

.login-card button {
    margin-top: 1.5rem;
    width: 100%;
    padding: 0.7rem;
    border: none;
    border-radius: 6px;
    background-color: #6c63ff;
    color: white;
    font-weight: bold;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-card button:disabled {
    opacity: 0.7;
    cursor: not-allowed;
}

.login-card button:hover {
    background-color: #5750d6;
}

.error-message {
    background-color: #ffe0e0;
    color: #d8000c;
    padding: 10px;
    border-radius: 6px;
    margin-bottom: 15px;
    text-align: center;
    font-weight: bold;
}

.loader {
    border: 4px solid #f3f3f3;
    border-top: 4px solid #6a11cb;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.register-text {
    margin-top: 1rem;
    text-align: center;
    font-weight: bold;
    text-decoration: underline;
    color: #6c63ff;
    cursor: pointer;
    transition: color 0.2s;
}

.register-text:hover {
    color: #3f3d56;
}